.impowerBox .qrcode {width: 280px;}
.impowerBox .title {display: none;}
.impowerBox .info {width: 290px;}
.status_icon {display：none}
.impowerBox .status {text-align: center;}
.impowerBox .status p{font-size: 15px}
